
<li>
	<span class="title"><span class="label label-info"><%= article.category.name %></span> <%= article.title %></span>
	<% if article.picture? %>
	<span class="picture">
			<%= image_tag article.picture.url(:thumb) %>
	</span>
	<% end %>
	<span class="content"><%= simple_format article.content %></span>
	<span class="timestamp">
		投稿日：<%= time_ago_in_words article.created_at %>前
		| 評価：<%= article.votes %>
		<% if current_user?(@user) || !current_user.admin? %>
			| <%= link_to "編集", edit_user_article_path(@user, article) %> 
	    | <%= link_to "削除", user_article_path(@user, article), method: :delete,
	  		data: { confirm: "タイトル#{article.title}を削除してもよろしいですか？"} %>
	  <% end %>
	</span>
</li>