<% provide(:title, '記事を編集') %>
<div class="row">
	<aside class="span3">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= link_to "戻る", @user, class: "btn" %>
		</section>
	</aside>

	<div class="span8">
		<h3>記事を編集</h3>
		<%= form_for [@user, @article] do |f| %>
      <%= render 'fields', f: f %>
			<%= f.submit "記事を更新する", class: "btn btn-success" %>
		<% end %>
	</div><!-- /.span8 -->
</div><!--/.row -->
