<div class="newspaper_top">
  <h1>みんなの新聞</h1>
  <h2>- Everyone's Newspaper -</h2>
</div>

<div class="article_views">
  表示方式:
  <span class="view">
    <%= link_to image_tag("grid.png", alt: "Grid view", width: "12x10"), newspaper_path, title: "Grid view" %>
  </span>
  <span class="view">
    <%= link_to image_tag("list.png", alt: "List view", width: "15x10"), newspaper_path(view: "list"), title: "List view" %>
  </span>
</div>

<div>
<ul class="nav nav-tabs" role="tablist" id="myTab">
  <% @categories.each do |category| %>
    <li><a href="#<%= category.name %>" role="tab" data-toggle="tab"><%= category.name %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% @categories.each do |category| %>
  <div class="tab-pane" id="<%= category.name %>">

    <% if @view_mode == "list" %>
      <div id="newspaper-list" %>
        <% category.articles.each do |article| %>
        <ul>
          <li>
            <%= render 'articles/article_meta', article: article %>
            <%= render 'shared/vote_info', article: article %>
            <p><%= article.content %></p>
          </li>
        </ul>
        <% end %>
      </div><!-- /#newspaper_list -->
    <% else %>
      <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
        <% category.articles.each do |article| %>
        <div class="box col<%= rand(3)+2 %> effect">
          <% if article.picture? %>
            <%= image_tag article.picture.url(:thumb) %>
          <% end %>
          <%= render 'articles/article_meta', article: article %>
          <%= render 'shared/vote_info', article: article %>
          <p><%= article.content %></p>
        </div>
        <% end %> 
      </div><!-- /#masonry-container -->
    <% end %>
  </div><!-- /.tab-pane -->
  <% end %>
</div><!-- /.tab-content -->



<script>
  $(function () {
    // タブ化
    $('#myTab a:first').tab('show')

    // スライド化
    $('#masonry-container').masonry({
      itemSelector: '.box',
      columnWidth: 10,
      gutterWidth: 1
    });

  });
</script>