<% provide(:title, "新聞") %>
<h1>新聞</h1>

<ul class="nav nav-tabs" role="tablist" id="myTab">
  <% @categories.each do |category| %>
    <li><a href="#<%= category.name %>" role="tab" data-toggle="tab"><%= category.name %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% @categories.each do |category| %>
  <div class="tab-pane" id="<%= category.name %>">
    <ul>
      <% category.articles.each do |article| %>
      <li><%= article.title %> by <%= article.user.name %></li>
      <% end %> 
    </ul>
  </div>
  <% end %>
</div>

<script>
  $(function () {
    $('#myTab a:first').tab('show')
  })
</script>