<% provide(:title, 'アカウント更新') %>
<div class="row">
	<aside class="span3">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= link_to "戻る", @user, class: "btn" %>
		</section>
	</aside>

	<div class="span8">
		<h3>アカウント更新</h3>
		<%= form_for @user do |f| %>
      <%= render 'fields', f: f %>
      <% if f.object.avatar? %>
				<%= image_tag f.object.avatar.url(:thumb) %>
			<% end %>
			<%= f.file_field :avatar %>
			<p style="color:red; margin-top:10px">Heroku上では画像のアップデートができません。</p>
			<%= f.submit "更新する", class: "btn btn-success" %>
		<% end %>
			    <%= link_to "削除する", @user, method: :delete,
  			data: { confirm: "ユーザ#{@user.name}を削除してもよろしいですか？"},
  			class: "btn btn-danger" %>

	</div><!-- /.span6 .offset3 -->
</div><!-- /.row -->