<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= avatar_for @user %>
				<%= @user.name %>
				<%= @user.email %>
			</h1>
		</section>
	</aside>

	<div class="span8">
		<% if @user.articles.any? %>
			<h3>投稿した記事 : <%= @user.articles.count %>件</h3>
			<ol class="articles">
				<%= render @articles %>
			</ol>
			<%= will_paginate @articles %>
		<% end %>
	</div><!-- /.span8 -->

</div><!--/.row -->