<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span3">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= link_to "記事を書く", new_user_article_path(@user), class: "btn btn-success" %>
		</section>
	</aside>

	<div class="span8">
		<% if @user.articles.any? %>
			<h3>投稿した記事 : <%= @user.articles.count %>件</h3>
			<ol class="articles">
				<%= render @articles %>
			</ol>
			<%= will_paginate @articles %>
		<% end %>
	</div><!-- /.span8 -->

</div><!--/.row -->