<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "みんなの新聞", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "新聞を読む", newspaper_path %></li>
          <% if login? %>
          <li><%= link_to "記事を書く", new_user_article_path(current_user) %></li>
          <li style="margin-top:5px;"><%= avatar_for(current_user, { size: 30 }) %></li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
              <li><%= link_to "ユーザ一覧", users_path %></li>
              <li><%= link_to "カテゴリ一覧", categories_path %></li>
              <li class="divider"></li>
              <% end %>
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "ユーザ登録", signup_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
